import javax.swing.*;
import java.awt.*;

public class GUI {
    public static void main (String[] args) {

        // criando uma nova janela (JFrame)
        JFrame frame = new JFrame("Meu primeiro GUI");
        frame.setSize(300, 150);
        frame.setDefaultCloseOperation(JFrame.EXIT_ON_CLOSE);
        frame.setLayout(null); // posição imutável

        frame.setVisible(true);

        // campo de preenchimento
        JTextField textField = new JTextField();
        textField.setBounds(20,20,150,25);

        // botão
        JButton button = new JButton("Clique aqui");
        button.setBounds(180,20,110,25);

        // label
        JLabel label = new JLabel("Bem vindo!");
        label.setBounds(20,60,250,25);

        //adicionando novos componentes
        frame.add(textField);
        frame.add(button);
        frame.add(label);

        // adicionando funcionalidade ao botao
        button.addActionListener(e -> {
            String name = textField.getText();
            label.setText("Olá " + name + "!");
        });
    }
}

